.DS_Store
.git

# Cache
.mypy_cache
*__pycache__*
*.egg-info
*.pyc
*.pytest_cache
*.ruff_cache
*.cache*
*.config*
*.local*

# Machine specific
.idea
.vscode

scripts/

# Frontend (built separately)
frontend/

# Ignore .env files
.envrc

# ignore storage dir
# ignore dist dir
dist

# ignore virtualenvs
.venv*
venv*
